* {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  color: red;
  
}
a {
    padding-top: 20px;
  color: aqua;
  position: sticky;
  top: 0px;
}

/* a:visited {
  color: green;
}
a:hover {
  color: blue;
} */
p:hover {
  color: green;
}
span {
  border: 2px solid black;

  position: absolute;
  top: 20px;
  right: 40px;

  position: sticky;
  top: 0px;
}
section {
  background-color: #f2f2f2;
  border: 20px solid black;
  margin: auto;
  padding: 40px;
  width: 350px;
}
.overflow{
    width: 200px;
    border: 2px solid black;
    height: 200px;
    background-color: aquamarine;
    overflow: auto;
    color: black;
}
.flex{
    display: flex;
    background-color: blue;
    flex-wrap: wrap;
    
}
.flex > div {
  background-color: #f1f1f1;
  width: 300px;
  height: 50px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  border: 5px solid black;
  
}